
@font-face{
	font-family: 'arab';
	src: url(../webfonts/arab.ttf);
}

@font-face{
	font-family: 'arab1';
	src: url(../webfonts/arab1.ttf);
}

@font-face{
	font-family: 'arab2';
	src: url(../webfonts/arab2.ttf);
}
@font-face{
	font-family: 'arab3';
	src: url(../webfonts/arab3.ttf);
}

@font-face{
	font-family: 'arab4';
	src: url(../webfonts/arab4.ttf);
}

@font-face{
	font-family: 'arab5';
	src: url(../webfonts/arab5.ttf);
}



